
<p-card>
  <ng-template pTemplate="header">

<div class="name">
 <b><p>Gustavo Dourado Santos</p></b>
</div>
    <div class="imgs">

   <a href="https://www.linkedin.com/in/gustavodouradosantos/"> <img
      src="https://cdn-icons.flaticon.com/png/128/3536/premium/3536505.png?token=exp=1644599816~hmac=0be40c0c954c089716a6c7c14d2fb995"
      style="width: 30px;" alt="linkedln"></a>

    <a href="https://github.com/Dourado8083"><img
      src="https://cdn-icons.flaticon.com/png/128/3291/premium/3291695.png?token=exp=1644599797~hmac=25530aa3cbbc69bc5d49242b440d1c9b"
      style="width: 30px;" alt="github"></a>
    </div>

      <img src="https://i.imgur.com/VUFmqwQ.png" style="width: 120px;" alt="Foto do Dono do Curriculo">
  </ng-template>

  <h1>Sobre Mim</h1>
  <ul>
    <li>Amante de Tecnologia</li>
    <li>Uma pessoa Persistente.</li>
    <li> Experiência em trabalho em equipe.</li>
    <li> Competência de lidar com conflitos</li>
  </ul>
  <h1>Formação</h1>


<!--
  <h3>Generation Brasil</h3>
  <p>Desenvolvedor Web Java Junior – Fullstack
    Maio/2021 - Agosto/2021</p>

  <h3>Unip - Universidade Paulista</h3>
  <p>Ciência da Computação
    Fevereiro/2020 - Janeiro/2024</p>
-->
  <h1>Experiência Profissional</h1>
  <h3>Carnes Wessel Jun/19 -Abr/20</h3>
  <p>Empacotador
    Empacotava e apoiava outros setores pontualmente.</p>

  <h3>Aluguel de Casas de temporadas Fev/17 - Mar/18</h3>
  <p>
    Representante de Marketing
    Responsável pela divulgação nas redes sociais
    como Facebook, Whatsapp e chat de grupo.
  </p>
<h3>Habilidade Técnicas</h3>
<!--
<ul>
  <li>Java e Python,Typescript</li>
  <li>Spring Framework</li>
  <li>HTML5 e CSS3</li>
  <li>Angular</li>
  <li>Projetos de Sistemas de Ti</li>
  <li>MySQL e MongoDB </li>
  <li>Git e Github
  </li>
</ul>
-->
<h3>Habilidade Comportamentais</h3>
<!--
<ul>
  <li>Responsabilidade Pessoal </li>
  <li>Comunicação</li>
  <li>Proatividade</li>
  <li>Atenção aos Detalhes</li>
  <li>Trabalho em Equipe</li>
  <li>Persistência</li>
  <li> Empatia</li>
</ul>
-->
  <ng-template pTemplate="footer" >
   <p><b>©Todos direitos reservados a Gustavo Dourado Santos</b></p>
  </ng-template>
</p-card>
